body {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Light mode @media (prefers-color-scheme: light) { */
/* body {
    background-color: white;
    color: black;
  }
} */

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

.welcomeMessage {
  padding: 3em 3em !important;
}
.extraActions {
  display: flex;
  justify-content: center;
}

.footerLogos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainer {
  min-width: 347.656px;
  min-height: 347.656px;
  cursor: pointer;
}

img {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homeWrapper {
  padding-top: 14px;
}

.headingWrapper {
  min-height: 300px;
  padding: 1em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.headingTitle {
  font-size: 4em !important;
  font-weight: normal !important;
}
.headingSubTitle {
  margin: 0 !important;
  font-size: 1.2em !important;
}

.gallery {
  margin-top: 14px;
  min-height: 400px;
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .headingTitle {
    font-size: 3em !important;
  }
  .gallery {
    padding-top: 14px;
  }
}
.endMessage {
  margin-top: 14px;
}

.ui.buttons .or {
  height: 4.571429em;
}
.ui.basic.button,
.ui.basic.buttons .button {
  border: 0 !important;
}

.artWrapper {
  padding-top: 8px;
}
p {
  font-size: 1.3em;
}

.floatingVoteMessage {
  z-index: 666;
  position: fixed !important;
  bottom: 0;
  right: 0;
  margin: 32px !important;
  padding: 16px !important;
}

.margin-14-top {
  margin-top: 14px;
}
.margin-14-bottom {
  margin-bottom: 14px;
}

.float-right {
  float: right;
}

.ui.violet.button,
.ui.violet.buttons .button {
  background-color: #008385 !important;
}

.ui.basic.violet.label {
  background: none #fff !important;
  color: #008385 !important;
  border-color: #008385 !important;
}

.floatingMessage {
  z-index: 666;
  position: fixed !important;
  bottom: 0;
  left: 0;
  margin: 32px !important;
  padding: 16px !important;
}
